@media only screen and (max-width: 600px) {
  .col-6{
    width: 100% !important;
  }
  .login-body {
    display: inline;
  }
.adminticket-head input {
  padding: 0px 11px;
  border: none;
width:100px;
  border-radius: 27px;
  background-color: #58a2ea38;
  margin: 0px 0px 7px 27px;
}
.adminticket-head input {
  padding: 0px 11px;
  border: none;
  border-radius: 27px;
  background-color: #58a2ea38;
  width:100px;
  margin: 0px 0px 7px 27px;
}
  .right-body {
    width: 100% !important;
}
.left-body {
  width: 100%;
}
 .keen-slider:not([data-keen-slider-disabled]) {
    height: 60vh;
}
.form.login {
  width: 353px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  padding: 39px;
  
}

  .addform {
    width: 220px !important;
}
.nav-link div {
  margin: 0px -4px !important;
}
.nav-link.active div {
  margin: 0px -7px !important;
}
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px !important;
}
}
