body h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  body h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    text-transform: uppercase;
  }
  body h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    font-weight: 400;
  }
  body h4 {
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    text-transform: uppercase;
  }
  body p {
    line-height: 150%;
    font-family: Roboto, sans-serif;
    font-size: 0.9375em;
    color: #999;
  }
  body li {
    list-style-type: none;
  }
  body a {
    text-decoration: none;
  }
  .bg-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  }
  .section-header {
    padding-top: 5.625em;
    text-align: center;
  }
  .section-header h3 {
    margin-bottom: 0.5em;
  }
  .section-header .line-red {
    margin: 2.5em auto 2.9375em auto;
  }
  .line-red {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 0 auto;
    background: #f38181;
  }
  /* Main Header Styles */
  .main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: transparent;
  }
  .main-header .header-wrapper {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 1em;
  }
  .main-header .header-wrapper .main-logo {
    float: left;
    font-weight: 700;
    font-size: 1.875em;
  }
  .main-header .header-wrapper .main-menu {
    float: right;
    text-align: center;
  }
  .main-header .header-wrapper .main-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  .main-header .header-wrapper .main-menu li a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
  }
  .main-header .header-wrapper .main-menu li a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
    transition: 0.1s;
  }
  .main-header .header-wrapper .main-menu li a span {
    font-size: 1.2em;
  }
  .main-header .header-wrapper .main-menu li:last-child {
    padding: 0.75em 0;
  }
  .main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
  .main-header .header-wrapper .main-menu li:last-child a:hover {
    border: none;
  }
  /* Section-1 Styles */
  #section-1 {
    height: 38em;
    color: #fff;
    background-color: #222;
  }
  #section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #section-1 .content-slider input {
    display: none;
  }
  #section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
  }
  #section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 6em;
    background-image: linear-gradient(rgb(63 182 215), rgb(8 19 156));
    box-sizing: border-box;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: none;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 4em;
    line-height: 95%;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #e88382;
    border-color: #e88382;
    transition: 0.3s;
  }
  #section-1 .content-slider .slider #top-banner-1 {
    background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-2 {
    background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-3 {
    background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-4 {
    background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider nav {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
  }
  #section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    color: #fff;
  }
  #section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #f6eac5;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
  }
  #section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #f6eac5;
    z-index: 100;
  }
  #section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: #e88382;
  }
  #section-1 .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
  }
  #section-1 .content-slider nav .controls label:hover {
    color: #e88382;
  }
  #section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
  #section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
  #section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
  #section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
    background: #fff;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
  }
  /* Animations */
  @keyframes progressBarFill {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
  /* Media Queries */
  @media only screen and (min-width: 1920px) {
    body {
      font-size: 22px;
    }
    .main-header .header-wrapper {
      width: 57%;
    }
    #section-1 {
      height: 46em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 12em;
    }
  }
  @media only screen and (max-width: 1919px) {
    body {
      font-size: 20px;
    }
    .main-header .header-wrapper {
      width: 60%;
    }
    #section-1 {
      height: 43em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 11em;
    }
  }
  @media only screen and (max-width: 1680px) {
    body {
      font-size: 18px;
    }
    .main-header .header-wrapper {
      width: 65%;
    }
    #section-1 {
      height: 40em;
    }
   
  }
  @media only screen and (max-width: 1366px) {
    body {
      font-size: 16px;
    }
    .main-header .header-wrapper {
      width: 70%;
    }
  }
  @media only screen and (max-width: 1120px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 1.4em;
    }
    #section-1 {
      height: 35em;
    }
    #section-1 .content-slider nav {
      bottom: -0.2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 2em auto;
    }
  }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 1.3em;
    }
    #section-1 .content-slider nav {
      bottom: 0;
    }
    #section-1 .content-slider nav .controls {
      width: 80%;
    }
  }
  @media only screen and (max-width: 860px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 0.9em;
    }
    #section-1 {
      height: 29em;
    }
    #section-1 .content-slider nav {
      bottom: -1em;
    }
    #section-1 .content-slider nav .controls {
      width: 90%;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
      font-size: 2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
      font-size: 4.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 5em;
    }
  }
  @media only screen and (max-width: 768px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 0.5em;
    }
    #section-1 {
      height: 27em;
    }
    #section-1 .content-slider nav .controls {
      width: 100%;
    }
    #section-1 .content-slider nav .controls label {
      width: 19%;
      font-size: 0.8em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 1.7em auto;
    }
  }
  @media only screen and (max-width: 650px) {
    .main-header .header-wrapper {
      width: 95%;
    }
  }
  @media only screen and (max-width: 480px) {
    .main-header .header-wrapper {
      width: 97%;
    }
    .main-header .header-wrapper .main-logo {
      display: none;
    }
    .main-header .header-wrapper .main-menu li {
      padding: 0.2em 0.3em;
    }
    .main-header .header-wrapper .main-menu li:last-child,
    .main-header .header-wrapper .main-menu li:nth-child(6) {
      padding: 0.2em 0.7em;
    }
    #section-1 {
      height: 26em;
    }
    #section-1 .content-slider nav {
      bottom: -0.5em;
    }
    #section-1 .content-slider nav .controls label {
      width: 40%;
      font-size: 0.7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
      font-size: 1.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
      font-size: 3em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 1.7em auto;
    }
  }
  .spiner {
    width: 100px;
    height: 100px;
  }
  img.rounded-circle.avatarprofile {
    width: 33px !important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgb(222 218 218 / 63%) !important;
  -webkit-tap-highlight-color: transparent;
  z-index: -1;
}
  .center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary{
    right: 0;
    left: 0;
    margin: auto;
    display: block;
}
  @media only screen and (max-width: 600px) {
      .form-group.\32 .pt-4 br {
    display: none;
}
    .form {
      width: 260px !important;
      left: 0;
      right: 0;
      top: 15%;
      display: block;
      margin: auto;
      bottom: 0;
  }
  .login-page {
    padding: 16px 0px;
    background-image:none;
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    background-color: #053a8c;
    top: 50%;
}
  .css-aq1gdx-MuiDrawer-docked .MuiDrawer-paper {
    width: 57px !important;
  }
  .me-3 {
    margin-right: 0.3rem !important;
}
  .form-header h1 {
    
    font-size: 13px;
  }
  .css-bshv44-MuiButtonBase-root-MuiListItem-root {
    margin: 0px -15px !important;
}
  
.float-end {
  /* float: right!important; */
  text-align: center;
  padding-bottom: 30px;
}
.card-body {
  flex: 1 1 auto;
  padding: 0.6rem 2rem !important;
}
 
  .loginform{
    padding: 23px 22px !important;
  }
  .addform {
    padding: 0px 0px !important;
    width: 249px !important;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}
.form-group {
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}
  .form-group button {
    padding: 0px 14px;
  }
  .form-panel{
    padding: 0 ;
  }
   .login-body {
     height: 100vh;
   }
   .btn-group, .btn-group-vertical {
    /* position: relative; */
   
    float: right !important;
    /* display: inline-flex; */
    /* vertical-align: middle; */
}
}
  .sile-profile ul li {
    list-style: none;
    padding: 1px 20px;
}
.sile-profile ul {
  padding: 31px 33px 0px 14px;
}
.profileicon{
 width: 15px;
  
  margin: 2px 11px;
  color: #2285ca;
}
.sile-profile ul li h5{
  font-size: 16px;
}
.MuiDialogActions-root.MuiDialogActions-spacing.css-hlj6pa-MuiDialogActions-root {
  background-color: #0d3d8e;
}
.MuiDialogActions-root.MuiDialogActions-spacing.css-hlj6pa-MuiDialogActions-root button {
  color: white !important;
}
.navbar-nav a {
    font-size: 13px;
    text-transform: uppercase;
    padding: 6px 16px;
    color: white;
}

.navigation{
  cursor: pointer;
}
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: white;
}
.main-logo img {
  width: 131px;
  margin: -1px 1px;
}
.profilecontent ul li {
  padding: 5px 12px;
  display: flex;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
  background-color: blue;
}
.nav-link{
  color: white !important;
}
.profilecontent ul li svg {
  padding: 0px 0px;
  margin: -3px 4px;
  font-size: 20px;
}

.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  margin: 0px -14px ;
}
.form-group a:hover {
  color: hsl(234deg 89% 33%);
}
hr:not([size]) {
  height: 1px;
  display: none !important;
}
.css-dsuxgy-MuiTableCell-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 3.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left !important;
  padding: 6px 16px;
  color: rgba(0, 0, 0, 0.87);
}
.css-dv0mq-MuiTableCell-root {
  
  text-align: left;
 
}
.userbody {
  padding: 0px 0px;
}
.css-6qfsqn-MuiTableCell-root {
  text-align: left;
}
.mainbody {
 
  border: 10px 10px;
}
.button {
  background: #1976d2;
  padding: 5px 8px;
  color: white !important;
  border-radius: 5px;
  border: none !important;
  margin-bottom: 12px;
  text-align: center;
  font-size: 14px;
}
.button:hover {
  color: #1976d2 !important;
  background: #c2d2ed !important;
}
.form-group.\32 .pt-4 {
  margin-bottom: 0px;
}
