.login-page {
    padding: 17px 0px;
    background-image: url(./gb3.png);
    background-size: 57%;
    background-repeat: no-repeat;
    background-position: right;
   height: 100vh;
    background-color: #053a8c;
  }
.css-qs2q9j {
    padding: 8px 7px!important;
}
.css-1thfh4x {
    text-align:left !important;
}
.css-12pjbv5 {
    text-align:left !important;
}
  .css-yb0lig {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600 !important;
    font-size: 1rem;
    color: #0000009e !important;
   
    height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
}

  .reg {
    margin: 0px 0px !important;
    padding: 4px 8px 0px 8px ;
    
}
.regs{
  margin: 17px 0px 69px 76px !important;

}
th{
  font-family: 'Open Sans', sans-serif !important;
}
.reg{
  height: 148vh !important;
}
